p {
  color: #00cef5;
  font-size: 20px;
  text-align: center;
}

body{
  background-color: black;
  color: white;
  text-align: center;
}

.hidden-links{
  text-decoration: none;
  color: white;
}

title{
  text-decoration-line: underline;
}
